body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #FFE5CC;
  color: #333333;

  width: 980px;
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  text-align: center;
  font-size: 28px;
}
